body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.manga.card-image {
  height: 240px;
  max-height: 240px;
  overflow: hidden;
}

.manga.card {
  height: 360px;
}

.manga.card .manga.card-content {
  max-height: 110px; /* Leave some padding */
  overflow: hidden;
}

progress {
  margin-top: 36px;
  margin-bottom: 36px;
}

.card-footer-item.selected {
  background-color: gray;
  color: white;
}
