* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

html {
  overflow-y: scroll; /* Show scrollbars, bypassing Tailwind */
  padding-right: -11px;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
  border: 3.5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.rs-state-sign-in {
  position: relative !important;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
