body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.manga.card-image {
  height: 65%;
  max-height: 65%;
  overflow: hidden;
}

.manga.card {
  height: 100%;
}

.manga.card .manga.card-content {
  padding: 18px 12px 12px 12px;
  margin-top: -6px;
  max-height: 110px;
  overflow: hidden;
}

.manga.card .manga.card-content .title {
  overflow: hidden;
}

progress {
  margin-top: 36px;
  margin-bottom: 36px;
}

.card-footer-item.selected {
  background-color: gray;
  color: white;
}
